body {
  background-color: #f3f4ec;
}

.usuario {
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
    padding:0;
    margin: 0;
}

.container-canvas {
      margin-right: auto;
      margin-left: auto;
  }

p {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding:0;
      margin: 0;
}

.rdos {
  padding-top: 30px;
}
.numero {
  font-style: italic;
  font-weight: bold;
}

.logo {
  border-bottom: 2px solid black;
  margin: 0;
}
